@{
    ViewData["Title"] = "Home Page";
}

<form>
    <div class="form-group row">
        <label for="identificacion" class="col-sm-2 col-form-label"><strong>Identificación</strong></label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="identificacion" placeholder="Buscar">
        </div>
        <div class="col-sm-4">
            <button id="buscarEmpleados" type="button" class="btn btn-primary">Obtener empleados</button>
        </div>
    </div>
</form>
<hr />

<div class="row">
    <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Identificación</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Salario</th>
                    <th>Salario Anual</th>
                    <th>Contrato</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                No se obtuvieron resultados para esta busqueda.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script>

        var table = null;

        $(document).ready(function () {

            table = $('#example').DataTable();

            $("#buscarEmpleados").click(function () {
                LlenarTabla();
            });

            $('#identificacion').keypress(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    LlenarTabla();
                    return false;
                }
                return true;
            });

        });

        function LlenarTabla() {
            $.ajax({
                url: 'api/Empleado',
                type: 'Get',
                data: { identificacion: $("#identificacion").val() },
                success: function (res) {
                    if (res.length > 0) {
                        table.clear().draw();
                        for (var i = 0; i < res.length; i++) {
                            table.row.add([res[i].id, res[i].identificacion, res[i].nombre, res[i].apellido, res[i].salario, res[i].salarioAnual, res[i].contrato]).draw(false);
                        }
                    }
                    else {
                        $("#exampleModal").modal('show');
                        table.clear().draw();
                    }
                },
                error: function () {
                    console.log("No se ha podido obtener la información");
                }
            });
        }

    </script>




}
