@{
    ViewData["Title"] = "Home Page";
}

<form>

    <div class="form-group row">
        <label for="identificacion" class="col-sm-2 col-form-label">Identificación</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="identificacion">
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary">Obtener empleados</button>
        </div>
    </div>
</form>
<hr />
